<footer>
  <div class="footer-container">

    <div class="footer-col">
      <h3>Skill Insight</h3>
      <p>Nền tảng học tập thông minh giúp bạn hiểu rõ năng lực và cải thiện hiệu quả.</p>
    </div>

    <div class="footer-col">
      <h4>Hệ thống</h4>
      <a routerLink="/">Trang chủ</a>
      <a routerLink="/login">Đăng nhập</a>
      <a routerLink="/register">Đăng ký</a>
    </div>

    <div class="footer-col">
      <h4>Hỗ trợ</h4>
      <a href="#">Trung tâm trợ giúp</a>
      <p>Email: vkvlearnit@gmail.com</p>
      <p>Hotline: 0356492228</p>
    </div>

    <div class="footer-col">
      <h4>Pháp lý</h4>
      <a href="#">Chính sách bảo mật</a>
      <a href="#">Điều khoản sử dụng</a>
    </div>

  </div>

  <div class="footer-bottom">
    © 2026 Skill Insight
  </div>
</footer>