.container .terms-agreement {
    margin: 10px 0 20px 0;
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
}

.terms-agreement label {
    display: flex;
    cursor: pointer;
}

.terms-agreement label input {
    margin-right: 5px;
    accent-color: #fff;
    cursor: pointer;
}

.terms-agreement label input[type="checkbox"] {
    accent-color: #8a2be2;
}

.terms-agreement a {
    margin-left: 4px;
    color: #8a2be2;
    text-decoration: none;
}

.container .login-redirect {
    text-align: center;
    font-size: 14.5px;
    margin: 20px 0 15px;
}

.login-redirect p a {
    color: #8a2be2;
    text-decoration: none;
    font-weight: 600;
}