<header>
  <div class="nav">
    <div class="logo">Skill Insight ⚡</div>

    <nav class="menu">
      <a routerLink="/">Trang chủ</a>
      <a href="#">Liên hệ</a>
    </nav>

    <!-- chưa login -->
    <div class="auth" *ngIf="!user">
      <a routerLink="/login" class="login">Đăng nhập</a>
      <a routerLink="/register" class="register">Đăng ký</a>
    </div>

    <!-- đã login -->
    <div class="auth" *ngIf="user">
      <div class="user-menu" (click)="toggleDropdown()">
        <img src="https://i.pravatar.cc/40" class="avatar">
        <span>Xin chào, {{user.name}} ▼</span>
      </div>

      <div class="dropdown" *ngIf="isOpen">
        <a href="#">Thông tin cá nhân</a>
        <a href="#">Đổi mật khẩu</a>

        <a *ngIf="user.role === 'admin'" routerLink="/admin">Quản trị</a>
        <a *ngIf="user.role === 'teacher'" routerLink="/teacher">Tổng quan GV</a>
        <a *ngIf="user.role === 'student'" routerLink="/student">Tổng quan SV</a>

        <a (click)="logout()">Đăng xuất</a>
      </div>
    </div>
  </div>
</header>